numpy==1.26.4
numpy-quaternion==2024.0.13
PyYAML==6.0.3
netaddr==1.3.0
netifaces==0.11.0
MyQR==2.3.1
robomaster @ git+https://github.com/jeguzzi/RoboMaster-SDK.git@3dc9755f49eacc20ce08c0c6c89d65f16dfc3fc9
